html, body{
    background-color: #a7dbe3;
    background-image: url(../img/bush.png);
    color: #2f4c5c;

    font-size: 21px;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
}


h1{
    font-size: 70px;
    color: #3747b3;
    font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
    margin-bottom: 0px;
}

h2{
    margin-top: 0px;
    color: green;
}

p{
    margin-top: 0px;
    margin-bottom: 20px;
    margin-right: 50px;

    font-size: 30px;

    line-height: 1.4;
    background-color: yellow;
    clear: both;

}

.red-box{
    height: 500px;
    width: 500px;
    background-color: salmon;
    float: left;
}


.blue-box{
    height: 400px;
    width: 700px;
    background-color: blue;
    float: right;
}

img{
    max-width: 800px;
    max-height: 700px;
    float: left;
    margin-right: 20px;
}