body{
    background-color: rgb(180, 221, 255);
    color: white;
    font-size: 18px;
}

h1{
    color: red;
    background-color: white;
}

p{
    color: rgb(0, 0, 0);
}

div{
    background-color: rgb(233, 233, 233);
    width: 500px;
    height: 500px;
}

span{
    color: yellow;
}


.top-section{
    
}

.intro{
    font-size: 20px;
}

.highlight{
    background-color: yellow;
}

.accent-color{
    color: red;
}